body{
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
.type-button{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top:50px;
}
.url-input{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.url-input input {
    height: 100px;
    width: 500px;
    font-size: 20px;
}
#sub{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background: cornsilk;
    margin-top: 40px;
}